
<div class="row">
  <div class="twelve columns hide-for-small">
    <span class="label">Try our old websites with</span><br /><br />
    <span class="secondary label">Username: sample</span><br /><br />
    <span class="secondary label">Password: sample</span><br /><br />
  <dl class="tabs contained">
    <dd class="active"><a href="#simpleContained1">Bid List Connection</a></dd>
    <dd class="hide-for-small"><a href="#simpleContained2">Common App</a></dd>
    <dd class="hide-for-small"><a href="#simpleContained3">My Profile</a></dd>
  </dl>
  <ul class="tabs-content contained">
    <li class="active" id="simpleContained1Tab">
    		<iframe src="http://www.chico-bidlist-connection.com/bids/login.asp?strUname=sample&strPword=sample" frameborder="0" height="1000px" width="100%" allowfullscreen></iframe>
    </li>

    <li id="simpleContained2Tab">
    		<iframe src="http://www.chico-commonapp-connection.com/welcome.asp?strUname=sample&strPword=sample" frameborder="0" height="1000px" width="100%" allowfullscreen></iframe>
    </li>

    <li id="simpleContained3Tab">
    		<iframe src="http://www.suretyresource-connection.com/contractor_profile.asp?strUname=sample&strPword=sample" frameborder="0" height="1000px" width="100%" allowfullscreen></iframe>
    </li>
  </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns show-for-small">
    <div class="panel callout radius">
      <h5>Mobile View</h5>
      <p>The old website content is not viewable on a mobile device. Please use a larger web browser to view this content.</p>
    </div>
  </div>
</div>