<fieldset class="twelve columns">
  <legend>Try out our Old website</legend>
  	<br />
  	<div>Username: <strong>sample</strong></div>
  	<div>Password: <strong>sample</strong></div><br />

	<div><iframe src="http://www.suretyresource-connection.com"  frameborder="0" style="overflow:hidden;height:1000px;width:100%" height="1000px" width="100%" /></div>
  <section class="bottom-margin"></section>
</fieldset>