<div class="row">
<dl class="tabs contained">
  <dd class="active"><a href="#simpleContained1">Bid List Connection</a></dd>
  <dd class="hide-for-small"><a href="#simpleContained2">Common App</a></dd>
  <dd class="hide-for-small"><a href="#simpleContained3">My Profile</a></dd>
</dl>
<ul class="tabs-content contained">
  <li class="active" id="simpleContained1Tab">
  		<iframe src="http://www.chico-bidlist-connection.com/bids/login.asp?strUname=sample&strPword=sample" frameborder="0" height="1000px" width="100%" allowfullscreen></iframe>
  </li>

  <li id="simpleContained2Tab">
  		<iframe src="http://www.chico-commonapp-connection.com/welcome.asp?strUname=sample&strPword=sample" frameborder="0" height="1000px" width="100%" allowfullscreen></iframe>
  </li>

  <li id="simpleContained3Tab">
  		<iframe src="http://www.suretyresource-connection.com/contractor_profile.asp?strUname=sample&strPword=sample" frameborder="0" height="1000px" width="100%" allowfullscreen></iframe>
  </li>
</ul>
</div>